// @import url('https://fonts.googleapis.com/css?family=Exo|Orbitron');
@import url('https://fonts.googleapis.com/css?family=Arimo|Didact+Gothic');
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
// app.js
// @import 'custom.scss';
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}
$textPrimary : #039be5;

html {
  color: rgba(0, 0, 0, 0.72)
}
h1, h2, h3,
h4, h5, h6 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 800;
}

.bg-blue {
  background: #4fa9c1;
}
.bg-default {
    background-color: #333D66;
    transition: all .9s;
}
h1 {
  font-size: 14vw;
}
h2 {
    font-size: 10vw;
}
h3 {
  font-size: 9vw;
  text-transform: uppercase;
}
p {
    font-size: 5vw;
}
hr {
  margin-left: 0.9%;
  width: 68px;
  border: 0;
  display: inline-block;
  border-bottom: 3px solid $textPrimary;
  margin-bottom: 3%;
}
.header-height {
  font-size: 16px;
  transition: all 0.6s;
}
.laboratoria {
  color: #F9A91A;
}
.w-700 {
  font-weight: 700;
}
.pd-top {
  padding-top: 10vh!important;
}
.justify-align {
    text-align: justify;
}
.weight-700 {
    font-weight: 700;
}

.load {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: url(../images/loading_miriam_mendoza.gif) center no-repeat #fff;
    background-size: 140px;
}

/* SPRITE */
%habilidades-size {
  width: 128px;
  height: 128px;
}
.sprite {
    background-image: url(../images/habilidades_miriam_mendoza_1.png);
    background-repeat: no-repeat;
    display: block;
}

.bootstrap_habilidades_miriam_mendoza {
  @extend %habilidades-size;
    background-position: -5px -5px;
}

.css_habilidades_miriam_mendoza {
  @extend %habilidades-size;
    background-position: -143px -5px;
}

.foundation_habilidades_miriam_mendoza {
  @extend %habilidades-size;
    background-position: -5px -143px;
}

.gulp_habilidades_miriam_mendoza {
  @extend %habilidades-size;
    background-position: -143px -143px;
}

.html_habilidades_miriam_mendoza {
  @extend %habilidades-size;
    background-position: -281px -5px;
}

.materialize_habilidades_miriam_mendoza {
  @extend %habilidades-size;
    background-position: -281px -143px;
}



// GENERAL
#banner, #sobre-mi, #habilidades, #proyectos,
#contacto {
  padding-top: 64px;
  padding-bottom: 64px;
}
#reconocimiento {
  padding-top: 28px;
  padding-bottom: 21px;
}
#sobre-mi,
#proyectos {
    background-color: #f5f5f3;
}

/*MENU*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  img {
  width: 56px;
  }
}
nav {
  width: 100vw;
  box-shadow: none;
  background-color: #333D66;
  .brand-logo {
    margin-left: 5vw;
  }
  #lista {
    margin-right: 5vw;
  }
}
.side-nav li > a:hover {
  background: rgba(79, 169, 193, 0.5);
}
.active {
    padding-top: 60px;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.overflow {
  overflow: hidden;
}
.visible {
  visibility: visible!important;
}
/*BANNER*/
#banner {
  margin: 0;
  height: 100vh;
  // background-color: black;
  background-image: url(../images/portada_placa_procesador_tecnologia.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0vh!important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {

  }
}
#banner .card {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 14px;
}
/*ABOUT ME*/
#sobre-mi {
  h3 {
    padding-left: 0.5%;
  }
  h4 {
    margin: 0;
  }
  h5 {
    color: $textPrimary;
  }
  img {
    padding-top: 2%;
  }
}
/* HABILIDADES */
#habilidades {
  // height: 120vh;
}

/*PROYECTOS*/
.square  {
    height: 37vh;
    padding-top: 14px;
    &__btn {
        height: 7vh;
        .btn {
            background-color: #4fa9c1;
        }
        &--first {
        }
    }
    &__txt {
      padding: 0 3vw;
      padding-top: 7px;
      height: 12vh;
    }
}
// MODAL
#proy-1, #proy-2, #proy-3,
#proy-4, #proy-5 {
  width: 70vw!important;
  background-color: rgba(250, 250, 250, 0.54);
  a {
      color: #000;
  }
}

.modal a {
  display: block;
  padding-bottom: 21px;
  text-decoration: underline;
}
.port-imagen img {
  width: 35px;
}
#reconocimiento {
  background-image: url(../images/girl_solution_coder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

}
/*CONTACTO */
#contacto {
    background-image: url(../images/laptop_hands_woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    h6 {
        text-align: center;
        font-size: 1.2em;
        padding: 21px 0;
    }
}
p {
    margin-bottom: -7px;
    padding: 14px;
    padding-left: 0;
}
#write-here {
    display: flex;
    justify-content: space-around;
    * {
        border-radius: 14px;
    }
}
#contacto [class*="s6"] img {
    height: 140px;
    margin-bottom: 14px;
}
#write-here {
    margin-bottom: 21px;
}
#links-profesional {
    img {
        width: 77px;
    }
}
footer {
  height: 7vh;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5.5vw;
  }
  h3 {
    font-size: 5vw;
    text-transform: uppercase;
  }
  p {
      font-size: 2vw;
  }
    #write-here {
        margin-bottom: 28px;
    }
    /*BANNER*/
    #sobre-mi, #contacto {
      height: auto;
    }
    /* Sobre mí */
    #sobre-mi {
      a img {
        width: 8vw;
      }
    }
    /*CONTACTO*/
    #contacto [class*="s6"] img {
        height: 182px;
    }

    // MODAL
    #proy-1, #proy-2, #proy-3,
    #proy-4, #proy-5 {
      width: 46vw!important;
    }
}

/* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {


      h2 {
        font-size: 3vw;
      }
      h3 {
            font-size: 2.5vw;
      }
      p {
        font-size: 21px;
      }
      /*MENU*/
  nav {
    width: 100%;
  img {
    margin-left: 21px;
  }
  }
  /*BANNER*/
  #banner {
    background-position-y: -35px!important;
    align-items: initial;
    left: 21px;
  }
  #banner .card {
    width: 60%;
    padding: 21px;
    left: 21px;
  }
  /*SOBRE MI*/
  #sobre-mi {
    p {
      margin-bottom: 1.25vw;
      line-height: 1.5;
    }
    a img {
      width: 5vw;
    }
  }
  .line-height {
        line-height: 45px;
  }
  // .line-bottom {
  //   // border-bottom: 1px solid #b9abab;
  //   padding-bottom: 27px!important;
  //   padding-top: 0;
  // }
  /*CONTACTO*/

  #contacto [class*="s4"] img {
    height: 82px;
    border: 2px solid #fff;
    padding: 14px;
    border-radius: 14px;
    margin-bottom: 28px;
  }
  // MODAL
  #proy-1, #proy-2, #proy-3,
  #proy-4, #proy-5 {
    width: 28vw!important;
  }
}
@media (min-width: 1224px) {
    nav {
        background-color: rgba(255, 255, 255, 0);
    }
    /* PROYECTO */
    .square {
        height: 32vh;
    }
    /* CONTACTO */
    #links-profesional img {
        margin-right: 1vw;
    }

}
